﻿@page
@model PatientBookingApp.Pages.AddBookModel
@{
    ViewData["Title"] = "AddBook";
}

<h2>AddBook</h2>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div>Name: <input type="text" width="40" asp-for="Book.Name"  placeholder="Enter your full name please!"/></div>
    <div> Mobile:<input asp-for="Book.Mobile" type="tel" placeholder="07xx-xxx-xxx" /></div>
    <div><input asp-for="Book.Email" placeholder="Enter your Email" /></div>
    <div>Date: <input asp-for="Book.BookedDate" type="date"  placeholder="Choose a Date"/> </div>
    <div> Treatment: <input asp-for="Treatment.TreatmentTitle" type="text" /></div> 
    
    <div > 
        
        TimeSlot: 
        <select asp-for="TimeSlot.TimeSlotTitle">

            <option value=9>9:00 AM - 10:00 AM</option>
            <option value=10>10:00 AM - 11:00 AM</option>
            <option value=11>11:00 AM - 12:00 PM</option>
            <option value=12>12:00 PM - 1:00 PM</option>
        </select> 
    </div>






    <div>Note: <input asp-for="Book.Note" placeholder="Send us a feed pack " /></div>
    <div><input asp-for="Book.IsDeleted" value="false" type="hidden" /></div>
    <div> <input type="submit" value="Add Book" /></div>

</form>
