﻿@page "{id:int}"
@model PatientBookingApp.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Book @Model.Book.BookingId</h2>
<form method="post">
<div asp-validation-summary="All"></div>
    <input asp-for="Book.BookingId" type="hidden" />
    <input asp-for="TimeSlot.Id" type="hidden" readonly />
    <input asp-for="Treatment.Id" type="hidden"  readonly/>
    <div>
        <div> <label asp-for="Book.Name"> Name: <input asp-for="Book.Name" /></label></div>
        <div><label asp-for="Book.Mobile">Mobile:  <input asp-for="Book.Mobile" /> </label>
        </div>
        <div>
            <label asp-for="Book.BookedDate"> Date: <input asp-for="Book.BookedDate" /> </label>
        </div>
        <div>
            <label asp-for="Book.Note"> Note: <input asp-for="Book.Note" /></label>
        </div>
        <div>
            <label asp-for="TimeSlot.TimeSlotTitle">
                Time Slot:
                <select asp-for="Treatment.TreatmentTitle">
                    <option value=9>9:00 AM - 10:00 AM</option>
                    <option value=10>10:00 AM - 11:00 AM</option>
                    <option value=11>11:00 AM - 12:00 PM</option>
                    <option value=12>12:00 PM - 1:00 PM</option>
                </select>
            </label>
        </div> 
        <label asp-for="Treatment.TreatmentTitle">  Treatent: <input asp-for="Book.Treatment"  type="text" /></label>
        </div>
    <div>
        
        <input asp-for="Book.Email" readonly hidden />
        
        
        
       


    </div>

    <div>
        <button type="submit">Save Changes</button>
    </div>
</form>

