﻿@page 
@model IndexModel
@{
    ViewData["Title"] = "Books List";
}
<br />
<br />
<form>
    <p>

        Title: <input type="search" name="SearchString">
        <input type="submit" value="Search" />
        <a asp-page="/AddBook"><img src="~/images/Button_Only_-_Red_Cross_Logo.jpg" width="50" height="50" /></a>
    </p>
</form>
<br />
<br />

<form method="post">
    <div>
        <h3> @Model.Message</h3>

    </div>


    <div asp-validation-summary="All"></div>
    <table class="table">
        <thead>
            <tr>
                <th width="10">ID</th>
                <th width="20"> Name</th>
                <th width="20"> Mobile</th>
                <th width="20">Date</th>
                <th width="20"> Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Book in Model.Books)
    {
                /*
        if (Book.IsDeleted == false)
        {
        }
        */

        <tr>
            <td width=" 10">@Book.BookingId</td>
            <td width=" 20">@Book.Name</td>
            <td width="20">@Book.Mobile</td>
            <td width="20" >@Book.BookedDate.ToLongDateString()</td>
            <td width="20">@Book.Email</td>
            <td width="10">
                <a asp-page="./Details" asp-route-id="@Book.BookingId"><img src="~/images/information-2-512.png" height="20" width="20" /></a>

                <a asp-page="./Edit" asp-route-id="@Book.BookingId"><img src="~/images/edit-icon-pencil_244589.png" height="20" width="20" /></a>

                <button class="Delete" name="DeleteButton" id="DelButton" type="submit" asp-page-handler="delete" asp-route-id="@Book.BookingId"><img src="~/images/delete-512.png" width="20" he.pngight="20" /></button>



            </td>

        </tr>


}


        </tbody>
    </table>


    <br />

   
    <br />
    <br />
</form>



